@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
.bg-dark{
	font-family: 'Montserrat', sans-serif;
	background: #333 !important;
	color: #fff;
}
.bold{
	font-weight: 700;
}
.limit{
	padding: 0 40px;
}
hr{
	background: #fff;
	margin: 15px -40px 15px -20px;
}
.title-sidebar{
	display: inline-block;
    padding: 0 15px 15px 15px;
    border-bottom: 2px solid #fff;
}
.losange, .losange div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 147px;
  height: 147px;
}
.losange {
  transform: rotate(45deg) translateY(10px);
}
.losange .los1 {
  width: 355px;
  height: 355px;
  transform: rotate(-45deg) translateY(-74px);
}
.losange .los1 img {
  width: 60%;
  height: auto;
}
.losange-padding{
	padding: 80px 0;
}
.progress-bar {
	background-color: #fff;
}
.progress{
	background-color: #333333;
	border-radius: 0;
	border: 2px solid;
}