<div class="container">
  <div class="row">
    <div class="col-lg-4 bg-dark text-center limit">
      <div class="losange-padding">
        <div class="losange">
          <div class="los1">
            <img src="https://acc.edu.ai/assets/images/no-staff-image.png" width="147px">
          </div>
        </div>
      </div>
      <h1 class="bold">BRIAN WALKER</h1>
      <p>WEB DEVELOPER</p>
      <hr>
      <h4 class="bold title-sidebar">PROFILE</h4>
      <p>27-year old web developer
        from Colorado Springs with
        5+ years of work experience
      in various fields.</p>
      <h4 class="bold title-sidebar">CONTACT</h4>
      <br>
      <span>123-456-7890</span>
      <br>
      <span>123-456-7890</span>
      <br><br>
      <p>1490 asdasljdlas jdjaslkdjas kljdaslkjdk dasdsadlasj</p>
      <br>
      <span>brianwalker.co</span>
      <br>
      <span>mail@brianwalker.co</span>
      <br>
      <br>
      <br>
      <br>
      <h4 class="bold title-sidebar">SKILLS</h4>
      <br>
      <br>
      <p>front-end</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <p>back-end</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
      <p>writing</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="col-lg-8">
      
    </div>
  </div>
</div>
<router-outlet></router-outlet>